CompileFlags:
  CompilationDatabase: build
  Add:
    - -I/workspace/include
    - -I/workspace/ext/BS_thread_pool/include
    - -I/workspace/ext/rapidyaml/include
    - -I/workspace/build
    - -I/workspace/build/proto
